body{
   font:20px Arial, Helvetica, sans-serif;

}

.navbar{
    background: rgb(31, 159, 190);
    color: aliceblue; 
}

.quem-somos{
    background-color: rgb(0, 50, 75);
    color: rgb(252, 240, 191);
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

#parceiros{
    background-color: rgb(223, 205, 183);
}

.bg-footer{
    background-color: rgb(31, 159, 190); 
    color: rgb(255, 255, 255);
}